.card{
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	list-style-type: none;
	margin-top: 25px;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	width: 100px;
	height: 150px;
	border: solid black 2px;
	border-radius: 12px;
	background-image: url("../img/cross.png");
}

#dealerFlip{
	margin-left: auto;
	margin-right: 300px;
	display: inline-block;
	list-style-type: none;
	margin-top: 25px;
	position: absolute;
	margin-left: 5px;
	margin-right: 5px;
	width: 100px;
	height: 150px;
	border: solid black 2px;
	border-radius: 12px;
	background-image: url("../img/cardBack.jpg");
}

.val{
	position: relative;
	display: inline-block;
	font-family: Georgia;
	font-weight: bold;
	font-size: 20px;
}

#first{
	float: left;
	left: 0px;
	top: -6px;
}

#second{
	position: relative;
	-webkit-transform: rotate(180deg);
	top: 40px;
	left: 32px;
}



.suit{
	position: relative;
	display: inline-block;
	font-size: 42px;
	left: -14px;
	top: 40px;
}


