.card{
	position: absolute;
	width: 100px;
	height: 150px;
	border: solid black 2px;
	border-radius: 12px;
	background-image: url("../img/cross.png");
	margin-top: 100px;
	margin-left:20px;
}

.val{
	position: relative;
	display: inline-block;
	color: rgb(218,0,4);
	font-family: Georgia;
	font-weight: bold;
	font-size: 20px;
}

#first{
	float: left;
	left: 10px;
	top: -13px;
}

#second{
	-webkit-transform: rotate(180deg);
	float: right;
	top: 102px;
	right: 10px;
}
#suit{
	position: relative;
	display: inline-block;
	color: rgb(218,0,4);
	font-size: 40px;
	left: 20px;
	top: 12px;
}