html{
	background-image: url(../img/bg.jpg);
	overflow: hidden;
}
/* DEALER SIDE STUFF */
#cashout{
	position: absolute;
	font-size: 25px;
	padding: 18px;
	border-radius: 40px;
	border: solid white 2px;
	background: rgba(0,0,0,0.5);
  	font-family: Georgia;
  	color: #ffffff;
  	bottom: 120px;
  	left: 80px;
}
#cashout:hover{
  background: rgba(0,0,0,0.7);
}

.back{
	width: 100px;
	height: 150px;
	background-image: url(../img/cardBack.jpg);
	border: solid black 2px;
	border-radius: 12px;
	position: relative;
}
.dealerCards{
	position: relative;
	display: inline-block;
	top: 50px;
	left: 320px;
	width: 640px;
	height: 200px;
	text-align: center;
	border-radius: 10px;
	border: 5px solid;
	border-color: rgba(0,0,0,0.5);
}

#deckPos{
	position: absolute;
	right: 120px;
	top: 60px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	/*margin-left: 1000px;*/
}
/*

/* END DEALER SIDE STUFF*/


.ann{
	position: absolute;
	background: rgba(0,0,0,0.6);
	border: 5px solid;
	border-color: rgba(0,0,0,0.3);
	display: inline-block;
	width: 480px;
	height: 120px;

	bottom: 275px;
	left: 400px;
	
	text-align: center;
	border-radius: 10px;
}

#annText{
	position: relative;
	font-size: 21px;
	color: white;
	font-family: Georgia;
	top: 40%;

}

/* PLAYER SIDE STUFF */
.bank {
	position: absolute;
	display: inline-block;
	float: left;
	bottom:200px;
	left: 15px;
	background: rgba(0,0,0,0.5);
	border: 2px solid white;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	text-align: center;
}
p {
	font-family: Georgia;
	font-size: 22px; 
	/* HOW THE FUCK DO U MAKE THIS WHITE */
  	color: white;
  	text-decoration: none;
  	left: 10px;
  	margin: 0;
  	position: relative;
}
.bankBox{
	position: relative;
	width: 130px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid white;
	background: rgba(0,0,0,0.5);
	margin-top: 10px;
	margin-bottom:10px;
	margin-left: auto;
	margin-right: auto;
}

.money{
	color: white;
	font-family: Georgia;
	font-size: 25px;
}

.tokens button{
	font-size: 18px;
	padding: 20px;
	border-radius: 100%;
	/* border: 1px solid white;*/
	border: .25em dashed white;
  	font-family: Georgia;
  	color: #ffffff;
  	margin: 5px;
  	top: 20px;
}
#ten{
	background-color: indianred;
}
#twenty{
	background-color: MediumSeaGreen;
}
#fifty{
	background-color: cornflowerblue;
}

.playerCards{
	position: absolute;
	border: 5px solid;
	border-color: rgba(0,0,0,0.5);
	display: inline-block;
	bottom: 60px;
	left: 325px;
	width: 640px;
	height: 200px;
	text-align: center;
	border-radius: 10px;
}


.moveButtons button{
	font-size: 30px;
	padding: 16px;
	border-radius: 40px;
	border: solid white 2px;
	background: rgba(0,0,0,0.5);
  	font-family: Georgia;
  	color: #ffffff;
  	position: absolute;
	display: inline-block;
	float: right;
}
.moveButtons button:hover{
  background: rgba(0,0,0,0.7);
}
#hit{
  	bottom: 165px;
	right: 100px;
	width: 150px;
}
#stay{
	bottom: 75px;
	right: 100px;
	width: 150px;
}






